<div class='calendar'  *ngIf="monthInfo !== undefined">

    <div class="datePicker">
        <div><mat-icon>keyboard_arrow_left</mat-icon></div>
        <div class="date">{{activeMonth}} {{year}} </div>
        <div><mat-icon>keyboard_arrow_right</mat-icon></div>
    </div>

      <label class='weekday'>Monday</label>
      <label class='weekday'>Tuesday</label>
      <label class='weekday'>Wednesday</label>
      <label class='weekday'>Thursday</label>
      <label class='weekday'>Friday</label>
      <label class='weekday'>Saturday</label>
      <label class='weekday'>Sunday</label>
      <div class="parent">
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>

      <div *ngFor="let i of index" >
        <div class="day" [ngClass]="{'currentDay': day == i, 'positiv': sentimentsMonth[i] == 'positive', 'negativ': sentimentsMonth[i] == 'negative'}" id="i" (click)="showInfos(i)">{{index[i - 1]}}</div>
      </div>

      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
    </div>
</div>

<div class="statistics" (click)="showInfos(0)">
    <div class="legend">
        <div style="margin: 10px; width:20px;height:20px;border:1px solid #000;background-color: #79ff4d;"></div>
        <div style="margin: 10px;">Positive</div>
    </div>
    <div class="legend">
        <div style="margin: 10px; width:20px;height:20px;border:1px solid #000;background-color: #ff4d4d;"></div>
        <div style="margin: 10px;">Negative</div>
    </div>
    <br>
    <div>
      <div style="display: inline"><strong>Most positive day: </strong></div>
      <div *ngIf="monthInfo !== undefined" style="display: inline">{{monthInfo["0"]["4"]}}</div>
    </div>

    <div>
      <div style="display: inline"><strong>Most positive topic: </strong></div>
      <div *ngIf="monthInfo !== undefined" style="display: inline">{{monthInfo["0"]["6"]}}</div>
    </div>
    <br>

    <div>
      <div style="display: inline"><strong>Most negative day: </strong></div>
      <div *ngIf="monthInfo !== undefined" style="display: inline">{{monthInfo["0"]["5"]}}</div>
    </div>

    <div>
      <div style="display: inline"><strong>Most negative topic: </strong></div>
      <div *ngIf="monthInfo !== undefined" style="display: inline">{{monthInfo["0"]["7"]}}</div>
    </div>
    <br>
    <div style="font-size: small;">News Reaction Visualization v1.0.0</div>
</div>

<div *ngIf="isShown" class="detail" (click)="showInfos(0)">
    <h2>{{currentWeekDay}} {{day}}. {{activeMonth}} {{year}}</h2>
    <div *ngIf="dayInfo !== undefined && dayInfo['0']['0'] !== '' "><strong>Most commented topics of the day:</strong></div>
    <div *ngIf="dayInfo !== undefined">{{dayInfo["0"]["0"]}}<br>{{dayInfo["0"]["1"]}}<br>{{dayInfo["0"]["2"]}}</div>
    <br>
    <div *ngIf="dayInfo !== undefined && dayInfo['0']['3'] !== '' "><strong>General Sentiment: </strong>{{dayInfo["0"]["3"]}}</div>

    <div class="sentiment-picker">
        <div (click)="gotoDetailView(0)">
            <figure>
                <img src="assets/images/pictogram_icon.PNG" alt="Pictogram" style="width: 100px; height:100px">
                <figcaption>Pictogram</figcaption>
            </figure>
        </div>
        <div (click)="gotoDetailView(1)">
            <figure>
                <img src="assets/images/piechart_icon.png" alt="Pie Chart" style="width: 100px; height:100px">
                <figcaption>Pie Chart</figcaption>
            </figure>
        </div>
    </div>
</div>
