<div class='calendar'>
    
    <div class="datePicker">
        <div (click)="changeDate(0)"><mat-icon>keyboard_arrow_left</mat-icon></div>
        <div class="date">{{activeMonth}} {{year}} </div>
        <div (click)="changeDate(1)"><mat-icon>keyboard_arrow_right</mat-icon></div>
    </div>
    
      <label class='weekday'>Monday</label>
      <label class='weekday'>Tuesday</label>
      <label class='weekday'>Wednesday</label>
      <label class='weekday'>Thursday</label>
      <label class='weekday'>Friday</label>
      <label class='weekday'>Saturday</label>
      <label class='weekday'>Sunday</label>
      <div class="parent">
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      
      <div *ngFor="let i of index">
        <div class="day" [ngClass]="{'currentDay': day == i, 'positiv': sentiments[i] == 'positiv', 'negativ': sentiments[i] == 'negativ'}" id="i" (click)="showInfos(i)">{{index[i - 1]}}</div>
      </div>
      
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
      <div class="empty" [ngClass]="{'currentDay': day == 0}" (click)="showInfos(0)"></div>
    </div>
</div>

<div class="statistics" (click)="showInfos(0)">
    <div class="legend">
        <div style="margin: 10px; width:20px;height:20px;border:1px solid #000;background-color: #79ff4d;"></div>
        <div style="margin: 10px;">Positv</div>
    </div>
    <div class="legend">
        <div style="margin: 10px; width:20px;height:20px;border:1px solid #000;background-color: #ff4d4d;"></div>
        <div style="margin: 10px;">Negativ</div>
    </div>
    <br>
    <br>
    <div>Most positiv day: 7. May 2022</div>
    <div>Most positiv topic: #Topic1</div>
    <br>
    <div>Most negativ day: 24. May 2022</div>
    <div>Most negativ topic: #Topic2</div>
    <br>
    <div style="font-size: small;">News Reaction Visualization v1.0.0</div>
</div>

<div *ngIf="isShown" class="detail" (click)="showInfos(0)">
    <h2>{{currentWeekDay}} {{day}}. {{activeMonth}} {{year}}</h2>
    <div>#Topic1<br>#Topic2<br>#Topic3</div>
    <br>
    <div>General Sentiment: {{sentiments[day]}}</div>

    <div class="sentiment-picker">
        <div (click)="gotoDetailView(0)">
            <figure>
                <img src="assets/images/pictogram_icon.PNG" alt="Pictogram" style="width: 100px; height:100px">
                <figcaption>Pictogram</figcaption>
            </figure>
        </div>
        <div (click)="gotoDetailView(1)">
            <figure>
                <img src="assets/images/piechart_icon.png" alt="Pie Chart" style="width: 100px; height:100px">
                <figcaption>Pie Chart</figcaption>
            </figure>
        </div>
    </div>
</div>