.topics { margin: 1.8rem auto}
.topics div {
  font-size: 1.4rem;
  display: inline-block;
  margin: auto 1.2rem;
}

.sentiment-picker div div, .topics div, .datePicker, .page-nav, .topics, .page-nav a { color: #595959; }

.topics div:hover, .datePicker mat-icon:hover, .sentiment-picker div:hover {
  cursor: pointer;
}

.activeTopicTitle { font-weight: bold; }

.datePicker, .page-nav, .topics, .sentiment-picker, angular-tag-cloud, .sentiment-picker div {
  display: flex;
}

.sentiment-picker div {
  align-items: center;
}

.page-nav, .topics, .sentiment-picker, .datePicker { justify-content: center; }
.page-nav, .datePicker { align-items: center; }

.page-nav {
  margin-top: 0;
  padding: 1rem;
  justify-content: flex-start;
}
.page-nav a { text-decoration: none; }
.page-nav a:hover { text-decoration: underline; }

.datePicker { margin: 1rem 1.4rem 1.4rem 1.4rem; }
.date { font-size: 2rem; }
.datePicker mat-icon {
  font-size: 2rem;
  margin: auto 0.8rem;
}

.colorPos {color: #79ff4d;}
.colorNeg {color: #ff4d4d;}
.colorPosNeg {color: #003399;}

.sentiment-picker mat-icon {
  font-size: 2rem;
  margin: 0 0.3rem;
}

.sentiment-picker div { margin: auto 0.8rem;}

angular-tag-cloud:hover { cursor: default; }

angular-tag-cloud { margin: auto}

.bold-sentiment mat-icon { text-shadow: 2px 2px 2px #afafaf; }
.bold-sentiment div { font-weight: 500; }
