<div class="contents">
  <div class="page-nav">
    <a routerLink="/calendar" routerLinkActive="active">Calendar</a>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <a (click)="gotoPieChart()" routerLinkActive="active">Pie Chart</a>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <a routerLink="/word-cloud" routerLinkActive="active" class="activeTopicTitle">Sentiment Word Cloud</a>
  </div>

  <div class="datePicker">
    <div (click)="changeDate(0)"><mat-icon>keyboard_arrow_left</mat-icon></div>
    <div class="date">{{day}}/05/2022</div>
    <div (click)="changeDate(1)"><mat-icon>keyboard_arrow_right</mat-icon></div>
  </div>

  <ng-template [ngIf]="noData" [ngIfElse]="dataAvailable">
    <h2>
      Sorry! There is no data available for this day.
    </h2>
  </ng-template>

  <ng-template #dataAvailable>
    <div class="topics" *ngIf="cloudData !== undefined">
      <div [ngClass]="{'activeTopicTitle': activeTopic1 === true}" (click)="this.chooseData(0)">{{cloudData[0]['name']}}</div>
      <div [ngClass]="{'activeTopicTitle': activeTopic2 === true}" (click)="this.chooseData(1)">{{cloudData[1]['name']}}</div>
      <div [ngClass]="{'activeTopicTitle': activeTopic3 === true}" (click)="this.chooseData(2)">{{cloudData[2]['name']}}</div>
    </div>

    <angular-tag-cloud
      [data]="activeData"
      [width]="950"
      [height]="450"
      [zoomOnHover]="{scale:1.3, transitionTime: 1, delay: 0.6}"
      [randomizeAngle]="true"
      [overflow]="false">
    </angular-tag-cloud>
  </ng-template>

</div>

<div class="sentiment-picker" *ngIf="!noData">
  <div (click)="chooseSentiment(0)" [ngClass]="{'bold-sentiment': activeSentiment === 0}">
    <div><mat-icon class="colorPos"> person</mat-icon></div>
    <div>Positive sentiment</div>
  </div>
  <div (click)="chooseSentiment(1)" [ngClass]="{'bold-sentiment': activeSentiment === 1}">
    <mat-icon class="colorNeg"> person</mat-icon>
    <div>Negative sentiment</div>
  </div>
  <div (click)="chooseSentiment(2)" [ngClass]="{'bold-sentiment': activeSentiment === 2}">
    <mat-icon class="colorPosNeg">people</mat-icon>
    <div>Both</div>
  </div>
</div>
