.datePicker mat-icon:hover {
  cursor: pointer;
}

.page-nav, .page-nav a, .datePicker {
  color: #595959;
}

.activeTopicTitle { font-weight: bold; }

.datePicker, .page-nav { display: flex; }
.datePicker { justify-content: center; }
.page-nav, .datePicker { align-items: center; }

.page-nav {
  margin-top: 0;
  padding: 1rem;
  justify-content: flex-start;
}
.page-nav a { text-decoration: none; }
.page-nav a:hover { text-decoration: underline; }

.datePicker { margin: 1rem 1.4rem 1.4rem 1.4rem; }
.date { font-size: 2rem; }
.datePicker mat-icon {
  font-size: 2rem;
  margin: auto 0.8rem;
}

.legend {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: justify;
}

.statistics {
    border-radius: 5px;
    border-style: solid;
    top: 0;
    right: 0;
    padding: 20px;
    margin: 15px;
    width: 30%;
    position: fixed;
    font-size: 1.5rem;
}

.footer {
    bottom: 0;
    left: 0;
    position: fixed;
    margin: 1rem;
}

.footer img:hover {
    cursor: pointer;
    transform: scale(1.3);
}

img {
    padding: 10px;
}

.activeSentimentClass {
    transform: scale(1.3);
}

.comment {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 60vh;
}

.comment mat-icon {
    font-size: 5rem;
    margin: auto 10rem;
}

.comment mat-icon:hover {
    cursor: pointer;
}

.comment img {
    margin-left: 3rem;
}

div.bubble {
	position: relative;
	width: 500px;
	text-align: center;
	line-height: 1.4em;
	margin: 40px auto;
	border-style: solid;
    border-width: 5px;
	border-radius: 30px;
	font-family: sans-serif;
	padding: 20px;
	font-size: large;
}

div.bubble:before,
div.bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

div.speech:before {
	left: 338px;
	bottom: -50px;
	border: 25px solid;
	border-color: rgb(0, 0, 0) transparent transparent rgb(0, 0, 0);
}

div.speech:after {
	left: 345px;
	bottom: -30px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}