<div class="contents">
  <div class="page-nav">
    <a routerLink="/calendar" routerLinkActive="active">Calendar</a>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <a routerLink="/pie-chart" routerLinkActive="active" class="activeTopicTitle">Pie Chart</a>
  </div>

  <div class="datePicker">
    <div (click)="changeDate(0)"><mat-icon>keyboard_arrow_left</mat-icon></div>
    <div class="date">{{day}}/05/2022</div>
    <div (click)="changeDate(1)"><mat-icon>keyboard_arrow_right</mat-icon></div>
  </div>

  <ng-template [ngIf]="noData" [ngIfElse]="dataAvailable">
    <h2>
      Sorry! There is no data available for this day.
    </h2>
  </ng-template>

  <ng-template #dataAvailable>
    <div class="topics" *ngIf="chartData !== undefined">
      <div [ngClass]="{'activeTopicTitle': activeTopic1 === true}" (click)="this.chooseData(0)">{{chartData[0]['name']}}</div>
      <div [ngClass]="{'activeTopicTitle': activeTopic2 === true}" (click)="this.chooseData(1)">{{chartData[1]['name']}}</div>
      <div [ngClass]="{'activeTopicTitle': activeTopic3 === true}" (click)="this.chooseData(2)">{{chartData[2]['name']}}</div>
    </div>

    <div class="chart" *ngIf="chartData !== undefined">
      <ngx-charts-pie-chart
        [results]="activeData"
        [legend]="true"
        [legendTitle]="legendTitle"
        [view]="[1100,520]"
        [labels]="true"
        [customColors]="[{name: 'Positive',value: '#79ff4d'}, {name: 'Negative',value: '#ff4d4d'}]"
        (select)="onPieSliceSelect($event)">
      </ngx-charts-pie-chart>
    </div>
  </ng-template>

</div>

